# Database Connection
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
DATABASE_PORT=

# Database Connection URL
DATABASE_URL=

# Site Settings
NEXT_PUBLIC_API_BASE_URL=

# API Key to access compare searches - Must be saved in "api_key" table in database
NEXT_PUBLIC_SEARCH_API_KEY=


# Auth Settings
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Strapi CMS API - if using strapi for blog
NEXT_PUBLIC_STRAPI_API_URL=



